body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-width: 15px;
    border-color: rgb(19, 61, 33);
    background-color: rgb(52, 131, 52);
}

form h2 {
    text-align: center;
    color: white;
}

form .input {
    background-color: lightgray;
    float: right;
    max-width: 200px;
}

form div {
    background-color: rgb(21, 173, 110);
    border: 5px solid rgb(0, 61, 38);
    border-radius: 5px;
    text-align: right;
}

form label {
    align-content: center;
}

form button {
    background-color: rgb(2, 88, 2);
    color: white;
}

th {
    background-color: #1d5c20;
    color: white;
    padding: 8px;
    text-align: center;
}

td,
th {
    border: 1px solid rgb(0, 0, 0);
    padding: 8px;
}